.characteristics {
     background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-image: url("../images/characterstics_bg.jpg");
}

.featuresList {
    margin-top: 40px;
    list-style-type: none;
    color: #FFF;
    @include flex($alignI: flex-start);
    @media (max-width: 800px) {
        display: block;
    }
        .column {
            width: calc(50% - 15px);
            @media (max-width: 800px) {
                width: 100%;
                display: block;
                margin: 0;
            }
            &:first-of-type {
                text-align: right;
                margin-right: 14px;
                @media (max-width: 800px) {
                    text-align: left;
                    margin: 0;
                }
                i {
                    position: absolute;
                    top: 50%;
                    right: 25px;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    margin-left: 20px;
                    @media (max-width: 800px) {
                        margin: 0;
                    }
                }
                li {
                    padding-right: 90px;
                    @media (max-width: 800px) {
                        padding: 0 0 0 80px;
                    }
                }
                li:after {
                    left: auto;
                    right: 0;
                }
            }
            &:last-of-type {
                text-align: left;
                margin-left: 14px;
                @media (max-width: 800px) {
                    margin: 0;
                }
                i {
                    position: absolute;
                    top: 50%;
                    left: 25px;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    margin-right: 20px;
                    @media (max-width: 800px) {
                        margin: 0;
                    }
                }
                li {
                    padding-left: 90px;
                    @media (max-width: 800px) {
                        padding: 0 0 0 80px;
                    }
                }
                li:after {
                    right: auto;
                    left: 0;
                }
            }
        }
        li {
            color: #FFF;
            display: block;
            font-family: $ub;
            font-size: 18px;
            height: 50px;
            margin-bottom: 28px;
            position: relative;
            @extend %vertAlign;

            @media (max-width: 800px) {
                line-height: normal;
                position: relative;
                height: auto;
            }
            span {
                position: relative;
                z-index: 1;
                display: inline-block;
                vertical-align: middle;
                @media (max-width: 800px) {
                    position: static;
                }
            }
            &:last-child {
                margin-bottom: 0;
                @media (max-width: 800px) {
                    margin-bottom: 28px;
                }
            }
            i {
                display: inline-block;
                vertical-align: middle;
                color: #FFF;
                min-width: 40px;
                text-align: center;
                font-size: 30px;
                position: relative;
                z-index: 1;
                @media (max-width: 800px) {
                    position: absolute;
                    left: 4px!important;
                    right: auto!important;
                    width: 40px;
                    top: 50%;
                    margin: 0!important;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
            &:after {
                content: "";
                display: block;
                background-color: rgba(0,0,0,.1);
                height: 100%;
                position: absolute;
                bottom: 0;
                top: 0;
                width: 175px;
                @media (max-width: 800px) {
                    display: none;
                }
            }
        }
}