.button {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    width: 285px;
    height: 55px;
    text-transform: uppercase;
    color: #fff;
    font-family: $ub;
    font-size: 20px;
    text-align: center;
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5);
    border: 0;
    background-color: transparent;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: -moz-linear-gradient(top, rgba(254,192,47,1) 0%, rgba(220,152,6,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,192,47,1)), color-stop(100%, rgba(220,152,6,1)));
    background: -webkit-linear-gradient(top, rgba(254,192,47,1) 0%, rgba(220,152,6,1) 100%);
    background: -o-linear-gradient(top, rgba(254,192,47,1) 0%, rgba(220,152,6,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,192,47,1) 0%, rgba(220,152,6,1) 100%);
    background: linear-gradient(to bottom, rgba(254,192,47,1) 0%, rgba(220,152,6,1) 100%);
    cursor: pointer;
    text-shadow: 0px 1px 0px rgba(166, 114, 0, 0.5);
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);


    &:after {
        content: '';
        width: 100%;
        height: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #AF7900;
    }

    &:hover {
        background: -moz-linear-gradient(top, rgba(254,200,84,1) 0%, rgba(221,173,61,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,200,84,1)), color-stop(100%, rgba(221,173,61,1)));
        background: -webkit-linear-gradient(top, rgba(254,200,84,1) 0%, rgba(221,173,61,1) 100%);
        background: -o-linear-gradient(top, rgba(254,200,84,1) 0%, rgba(221,173,61,1) 100%);
        background: -ms-linear-gradient(top, rgba(254,200,84,1) 0%, rgba(221,173,61,1) 100%);
        background: linear-gradient(to bottom, rgba(254,200,84,1) 0%, rgba(221,173,61,1) 100%);

        &:after {
            background-color: #AF821E;
        }
    }
}


.order-button {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 35px;
    text-transform: uppercase;
    font-family: $ub;
    color: $blue;
    font-size: 14px;
    cursor: pointer;
    background: -moz-linear-gradient(left, rgba(46,184,143,1) 0%, rgba(0,173,203,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,184,143,1)), color-stop(100%, rgba(0,173,203,1)));
    background: -webkit-linear-gradient(left, rgba(46,184,143,1) 0%, rgba(0,173,203,1) 100%);
    background: -o-linear-gradient(left, rgba(46,184,143,1) 0%, rgba(0,173,203,1) 100%);
    background: -ms-linear-gradient(left, rgba(46,184,143,1) 0%, rgba(0,173,203,1) 100%);
    background: linear-gradient(to right, rgba(46,184,143,1) 0%, rgba(0,173,203,1) 100%);
    position: relative;
    z-index: 1;
    border: 0;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:before {
        content: '';
        width: -webkit-calc(100% - 4px);
        width: calc(100% - 4px);
        height: -webkit-calc(100% - 4px);
        height: calc(100% - 4px);
        border-radius: 32px;
        position: absolute;
        top: 2px;
        left: 2px;
        background-color: #F4FBFC;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &:before {
            opacity: 0;
        }
    }
}

.input {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    z-index: 1;

    input {
        width: 100%;
        height: 100%;
        background-color: #F4FBFC;
        border: 0;
        padding-left: 70px;
        padding-right: 20px;
        font-family: $u;
        font-size: 16px;
        color: $grey;

        @media ($phones) {
            font-size: 16px;
        }
    }

    &:before {
        content: '';
        width: 50px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: -moz-linear-gradient(-45deg, rgba(46,184,143,1) 0%, rgba(0,173,203,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(46,184,143,1)), color-stop(100%, rgba(0,173,203,1)));
        background: -webkit-linear-gradient(-45deg, rgba(46,184,143,1) 0%, rgba(0,173,203,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(46,184,143,1) 0%, rgba(0,173,203,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(46,184,143,1) 0%, rgba(0,173,203,1) 100%);
        background: linear-gradient(135deg, rgba(46,184,143,1) 0%, rgba(0,173,203,1) 100%);
        z-index: 1;
    }

    &:after {
        content: '';
        width: 30px;
        height: 30px;
        position: absolute;
        left: 10px;
        top: 10px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        z-index: 2;
        border-radius: 50%;
        border: 1.5px solid #fff;
        box-sizing: border-box;
    }

    &--user:after {
        background-image: url(../images/user.svg);
        background-size: 22px;
    }
    &--phone:after {
        background-image: url(../images/phone.svg);
        background-size: 15px;
    }
    &--square:after {
        content: 'S';
        color: #fff;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        font-family: $u;
    }
}

.select {
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 2;

    .select-label {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        padding: 0 30px 0 15px;
        line-height: 50px;
        text-align: left;
        border-radius: 5px;
        font-size: 16px;
        border: 1px solid rgba(0, 0, 0, .1);
        color: $grey;
        background-color: #F4FBFC;
        border: 0;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:after {
            content: '';
            width: 10px;
            height: 10px;
            border-right: 2px solid $blue;
            border-bottom: 2px solid $blue;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -7px;
            margin-right: -7px;
            box-sizing: border-box;
        }
    }

    .select-dropdown {
        position: absolute;
        top: 100%;
        margin-top: -5px;
        width: 100%;
        background-color: #F4FBFC;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        overflow: hidden;
        padding-bottom: 5px;

        &-item {
            padding: 4px 15px 5px;
            text-align: left;
            color: #8c8c8c;
            font-size: 16px;
            transition: all 0.3s ease;
            background-color: transparent;
            cursor: pointer;

            &:hover,
            &.active {
                background-color: #CCEFF5;
            }
        }
    }
}