.features {
    padding: 55px 0;

    &__subtitle {
        font-family: $ub;
        font-size: 38px;
        color: #333333;

        @media ($tablets) {
            br {
                display: none;
            }
        }

        @media ($phones) {
            font-size: 28px;
        }
    }

    .features-box {
        @include flex($justify: center);
        margin-top: 30px;

        @media (min-width: 1001px) {
            background-image: url(../images/features.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }

        &.areas {
            background-image: none;
        }

        .feature {
            width: 25%;
            height: 285px;
            border: 15px solid #F4FBFC;
            background-color: rgba(0, 111, 132, 0.5);
            color: #fff;
            padding: 70px 5px 5px;
            position: relative;
            z-index: 1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            @media (max-width: 1200px) {
                font-size: 16px;
            }

            @media ($tablets) {
                background-color: #3A7176;
                width: 33.33%;
            }

            @media (max-width: 850px) {
                border-width: 5px;
                height: 240px;
            }

            @media ($phones) {
                width: 50%;
            }

            @media (max-width: 550px) {
                font-size: 14px;
                padding-top: 50px;
            }

            @media (max-width: 400px) {
                width: 100%;
                height: auto;
                padding-top: 35px;
                padding-bottom: 35px;
            }

            &:after {
                content: '';
                width: -webkit-calc(100% - 10px);
                width: calc(100% - 10px);
                height: -webkit-calc(100% - 10px);
                height: calc(100% - 10px);
                position: absolute;
                left: 5px;
                top: 5px;
                border: 2px solid #fff;
                z-index: -1;
                box-sizing: border-box;
            }

            i.im {
                font-size: 53px;
                margin-bottom: 15px;
                display: inline-block;
            }

            &__text {
                text-transform: uppercase;
                padding: 0 5px;
            }
        }
    }
}