.form {
    padding: 40px 0 50px;
    
    position: relative;
    z-index: 1;
    color: #fff;

    @media (min-width: 1001px) {
        background-image: url(../images/form.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
    @media ($tablets) {
        background: -moz-linear-gradient(left, rgb(46,184,143) 0%, rgb(0,173,203) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgb(46,184,143)), color-stop(100%, rgb(0,173,203)));
        background: -webkit-linear-gradient(left, rgb(46,184,143) 0%, rgb(0,173,203) 100%);
        background: -o-linear-gradient(left, rgb(46,184,143) 0%, rgb(0,173,203) 100%);
        background: -ms-linear-gradient(left, rgb(46,184,143) 0%, rgb(0,173,203) 100%);
        background: linear-gradient(to right, rgb(46,184,143) 0%, rgb(0,173,203) 100%);
    }

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background: -moz-linear-gradient(left, rgba(46,184,143,0.72) 0%, rgba(0,173,203,0.72) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,184,143,0.72)), color-stop(100%, rgba(0,173,203,0.72)));
        background: -webkit-linear-gradient(left, rgba(46,184,143,0.72) 0%, rgba(0,173,203,0.72) 100%);
        background: -o-linear-gradient(left, rgba(46,184,143,0.72) 0%, rgba(0,173,203,0.72) 100%);
        background: -ms-linear-gradient(left, rgba(46,184,143,0.72) 0%, rgba(0,173,203,0.72) 100%);
        background: linear-gradient(to right, rgba(46,184,143,0.72) 0%, rgba(0,173,203,0.72) 100%);
    }

    &__title {
        font-size: 30px;
        font-family: $ub;
    }

    &__subtitle {
        font-size: 48px;
        text-transform: uppercase;
        font-family: $ul;
        margin-bottom: 13px;
        margin-top: 4px;

        @media ($tablets) {
            font-size: 38px;
        }
    }
}

.horizontal-form {
    padding: 25px;
    background-color: rgba(0, 0, 0, .1);
    @include flex($justify: space-around);
    margin: 0 60px;

    @media (max-width: 1200px) {
        width: 100%;
        margin: 50px auto 0;
    }

    @media ($tablets) {
        width: 370px;
        padding: 40px;
    }

    @media (max-width: 400px) {
        width: 100%;
        padding: 30px 15px;
    }

    .form-group {
        width: 285px;

        @media ($tablets) {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .button {
                width: 100%;
            }
        }
    }
}