

.production-slider {
    padding-bottom: 85px;
    padding-top: 25px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    .slider-title {
        font-size: 38px;
        color: #333;
        font-family: $ub;
        padding: 0 25px;
        background-color: #F4FBFC;
        display: inline-block;
        margin-bottom: 25px;
        position: relative;
        z-index: 2;

        @media (max-width: 600px) {
            font-size: 25px;
        }
    }
}

.slider {
    margin: 0;
    position: relative;
    z-index: 1;

    &:before {
        content: '';
        width: -webkit-calc(100% - 160px);
        width: calc(100% - 160px);
        position: absolute;
        left: 80px;
        border: 3px solid #fff;
        box-sizing: border-box;
        top: -45px;
        bottom: -85px;
        right: 80px;
        z-index: -1;

        @media ($phones) {
            display: none;
        }
    }

    &:after {
        content: '';
        width: 130px;
        height: 4px;
        position: absolute;
        left: 50%;
        bottom: -35px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        background-image: url(../images/dots.svg);
        background-size: auto 100%;
        background-repeat: repeat-x;
        background-position: 0 0;
    }

    .slick-arrow {
        top: auto;
        bottom: -50px;
        margin-top: 0;
        width: 35px;
        height: 35px;
        transition: all 0.3s ease;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1;

        &:after {
            content: '';
            width: -webkit-calc(100% - 4px);
            width: calc(100% - 4px);
            height: -webkit-calc(100% - 4px);
            height: calc(100% - 4px);
            border-radius: 50%;
            position: absolute;
            top: 2px;
            left: 2px;
            background-color: #F4FBFC;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index: -1;
        }

        &:before {
            content: '';
            width: 10px;
            height: 10px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            box-sizing: border-box;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        &:hover {
            &:after {
                opacity: 0;
            }
            &:before {
                border-color: #fff!important;
            }
        }

        &.slick-prev {
            background: -moz-linear-gradient(left, rgba(0,173,203,1) 0%, rgba(30,181,163,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,173,203,1)), color-stop(100%, rgba(30,181,163,1)));
            background: -webkit-linear-gradient(left, rgba(0,173,203,1) 0%, rgba(30,181,163,1) 100%);
            background: -o-linear-gradient(left, rgba(0,173,203,1) 0%, rgba(30,181,163,1) 100%);
            background: -ms-linear-gradient(left, rgba(0,173,203,1) 0%, rgba(30,181,163,1) 100%);
            background: linear-gradient(to right, rgba(0,173,203,1) 0%, rgba(30,181,163,1) 100%);
            left: 50%;
            margin-left: -110px;

            &:before {
                border-top: 2px solid $blue;
                border-left: 2px solid $blue;
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                margin-left: -3.5px;
                margin-top: -5px;
            }
        }

        &.slick-next {
            background: -moz-linear-gradient(left, rgba(30,181,163,1) 0%, rgba(0,173,203,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(30,181,163,1)), color-stop(100%, rgba(0,173,203,1)));
            background: -webkit-linear-gradient(left, rgba(30,181,163,1) 0%, rgba(0,173,203,1) 100%);
            background: -o-linear-gradient(left, rgba(30,181,163,1) 0%, rgba(0,173,203,1) 100%);
            background: -ms-linear-gradient(left, rgba(30,181,163,1) 0%, rgba(0,173,203,1) 100%);
            background: linear-gradient(to right, rgba(30,181,163,1) 0%, rgba(0,173,203,1) 100%);
            right: 50%;
            margin-right: -110px;

            &:before {
                border-right: 2px solid $blue;
                border-bottom: 2px solid $blue;
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                margin-right: -3.5px;
                margin-top: -5px;
                left: auto;
                right: 50%;
            }
        }
    }
}




.product {
    box-shadow: 0px 1px 25px 0px rgba(51, 51, 51, 0.15);
    margin: 0 15px;
    position: relative;
    z-index: 1;

    @media (max-width: 1169px) {
        margin: 0;
    }

    &:after {
        content: '';
        width: -webkit-calc(100% - 10px);
        width: calc(100% - 10px);
        height: -webkit-calc(100% - 10px);
        height: calc(100% - 10px);
        position: absolute;
        left: 5px;
        top: 5px;
        border: 2px solid #fff;
        z-index: -1;
        box-sizing: border-box;
    }

    &__image {
        width: 100%;
        height: 150px;
        background-color: #fff;
        position: relative;
        margin: 0;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: -1;

        &:after {
            content: '';
            width: 100%;
            height: 70px;
            background: -moz-linear-gradient(top, rgba(244,251,252,0) 0%, rgba(244,251,252,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,251,252,0)), color-stop(100%, rgba(244,251,252,1)));
            background: -webkit-linear-gradient(top, rgba(244,251,252,0) 0%, rgba(244,251,252,1) 100%);
            background: -o-linear-gradient(top, rgba(244,251,252,0) 0%, rgba(244,251,252,1) 100%);
            background: -ms-linear-gradient(top, rgba(244,251,252,0) 0%, rgba(244,251,252,1) 100%);
            background: linear-gradient(to bottom, rgba(244,251,252,0) 0%, rgba(244,251,252,1) 100%);
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
        }

        &.bg-height {
            background-size: auto 100%;
        }

        figcaption {
            position: absolute;
            left: 0;
            bottom: 25px;
            width: 100%;
            text-align: center;
            z-index: 1;

            a {
                color: $blue;
                text-decoration: underline;
            }
        }
    }

    &__info {
        width: 100%;
        padding: 25px 20px 25px 15px;
        text-align: left;
        background-color: #F4FBFC;
        position: relative;
        font-size: 14px;
        z-index: -1;

        @media (max-width: 600px) {
            font-size: 14px;
        }

        .title {
            font-size: 24px;
            font-family: $ub;
            font-weight: normal;
            margin-bottom: 20px;

            @media (max-width: 600px) {
                font-size: 20px;
            }

            &:after {
                content: '';
                width: 50px;
                height: 2px;
                display: block;
                background-color: #11B2B5;
                margin-top: 15px;
            }
        }
    }



    .app-area {
        background: -moz-linear-gradient(top, rgba(0,173,203,1) 0%, rgba(30,181,163,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,173,203,1)), color-stop(100%, rgba(30,181,163,1)));
        background: -webkit-linear-gradient(top, rgba(0,173,203,1) 0%, rgba(30,181,163,1) 100%);
        background: -o-linear-gradient(top, rgba(0,173,203,1) 0%, rgba(30,181,163,1) 100%);
        background: -ms-linear-gradient(top, rgba(0,173,203,1) 0%, rgba(30,181,163,1) 100%);
        background: linear-gradient(to bottom, rgba(0,173,203,1) 0%, rgba(30,181,163,1) 100%);
        text-align: left;
        width: 100%;
        color: #fff;
        padding: 20px 30px 30px;
        position: relative;
        z-index: -1;
        font-size: 14px;
        min-height: 130px;

        @media (max-width: 500px) {
            padding: 20px;
        }
        
        .list {
            @include flex($alignI: flex-start);
        }
            
        .list-item {
            list-style: none;
            width: 50%;
            padding-right: 20px;
            @include flex($alignI: flex-start);
            color: #fff;

            @media (max-width: 500px) {
                width: 100%;
            }

            &:not(:last-child) {
                margin-bottom: 15px;

                @media (max-width: 600px) {
                    margin-bottom: 10px;
                }
            }

            i.im {
                width: 40px;
                font-size: 25px;
                color: #fff;
                text-align: center;
                background-position: 50% 50%;

                @media (max-width: 600px) {
                    font-size: 18px;
                    width: 20px;
                }
            }

            p {
                width: -webkit-calc(100% - 40px);
                width: calc(100% - 40px);

                @media (max-width: 600px) {
                    width: -webkit-calc(100% - 20px);
                    width: calc(100% - 20px);
                }
            }

            &-title {
                font-size: 14px;
                color: #fff;
                font-family: $ub;
                display: inline-block;
                margin-right: 10px;

                @media (max-width: 600px) {
                    font-size: 11px;
                }
            }

            &-text {
                font-size: 16px;

                @media (max-width: 600px) {
                    font-size: 11px;
                }
            }
        }
    }

    &--wide {
        @include flex($alignI: stretch);

        .product__image {
            width: 50%;
            background-color: #fff;
            height: auto;
            padding: 50px 0;
            @extend %vertAlign;

            @media (max-width: 700px) {
                width: 100%;
                height: 250px;
                padding-top: 25px;

                &:before {
                    display: none;
                }
            }
            
            img {
                max-width: 60%;
                display: inline-block;
                vertical-align: middle;

                @media (max-width: 700px) {
                    max-width: 100%;
                    height: 100%;
                }
            }

            &:after {
                display: none;
            }
        }
        .product__info {
            width: 50%;

            @media (max-width: 700px) {
                width: 100%;
            }
        }

        .app-area {

            @media (min-width: 1001px) {
                .list-item {
                    width: 20%;
                    display: block;

                    i.im {
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                        margin-bottom: 5px;
                    }

                    p {
                        width: 100%;
                    }
                }    
            }
        }


    }
}