i.im {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-boot:before {
  content: "\e900";
}
.icon-calculator:before {
  content: "\e901";
}
.icon-car-wash:before {
  content: "\e902";
}
.icon-chamistry:before {
  content: "\e903";
}
.icon-church:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e905";
}
.icon-drop:before {
  content: "\e906";
}
.icon-electricity:before {
  content: "\e907";
}
.icon-fire:before {
  content: "\e908";
}
.icon-house:before {
  content: "\e909";
}
.icon-hummer:before {
  content: "\e90a";
}
.icon-isolation:before {
  content: "\e90b";
}
.icon-key:before {
  content: "\e90c";
}
.icon-lamp:before {
  content: "\e90d";
}
.icon-layers:before {
  content: "\e90e";
}
.icon-leaf:before {
  content: "\e90f";
}
.icon-logistics:before {
  content: "\e910";
}
.icon-office:before {
  content: "\e911";
}
.icon-ok:before {
  content: "\e912";
}
.icon-ok-2:before {
  content: "\e913";
}
.icon-opt:before {
  content: "\e914";
}
.icon-parking:before {
  content: "\e915";
}
.icon-percent:before {
  content: "\e916";
}
.icon-plant:before {
  content: "\1f313";
}
.icon-sertificate:before {
  content: "\e918";
}
.icon-shevron:before {
  content: "\e919";
}
.icon-shop:before {
  content: "\e91a";
}
.icon-sport-base:before {
  content: "\e91b";
}
.icon-terminal:before {
  content: "\e91c";
}
.icon-valik:before {
  content: "\e91d";
}
.icon-arrow {
  background-image: url(../images/arrow.svg);
  background-size: 14px;
  height: 25px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

