
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
    font-family: $u;
    font-size: 18px;
    background-color: #F4FBFC;
    padding-top: 120px;
    @media (max-width: 1170px) {
        padding-top: 0;
    }
    color: $text;
}

h2 {
    font-size: 48px;
    color: $blue;
    font-family: $ub;
}

.white {
    color: #FFF;
}


// lAYOUT
// ---------------------------
.wrapper {
	width: 1170px;
	margin: 0 auto;
	text-align: center;

    &.padding {
        padding: 0 15px;
    }
}
section {
    padding: 50px 0;
}