
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
    font-family: $u;
    font-size: 18px;
    background-color: #F4FBFC;
    padding-top: 120px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    height: auto;

    @media (max-width: 1200px) {
        padding-top: 0;
    }
    color: $text;
}

h2 {
    font-size: 48px;
    color: $blue;
    font-family: $ub;

    @media ($phones) {
        font-size: 38px;
    }
}

.white {
    color: #FFF;
}
.wow {
    visibility: hidden;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1170px;
	margin: 0 auto;
	text-align: center;

    &.padding {
        padding: 0 15px;
    }

    @media (max-width: 1200px) {
        width: 100%;
        padding: 0 15px;
    }
}
section {
    padding: 50px 0;
}