// COLORS
// ---------------------------
$blue:                  #00aecb;
$orange:                #EDA300;
$grey:                  #8c8c8c;
$green:                #1bb4a8;
$text:                 #333;

// FONTS
// ---------------------------
$u:                     'Ubuntu';
$ul:                    'Ubuntu Light';
$uli:                   'Ubuntu Light Italic';
$ub:                    'Ubuntu Bold';


// RESPONSIVE
// ---------------------------
$tablets:               'max-width: 1000px';
$phones:                'max-width: 750px';